<!DOCTYPE html>
<html lang="ro" class="5">
<head>
    
  
    <meta name="keywords" content="dramă,science-fiction,supereroi,film,franciza,producător,2023">
    <meta name="description" content="Site Web">
    <title>Site Web</title>
   
    <%- include("../fragmente/head.ejs") %>
</head>
<body>

    <%- include("../fragmente/header.ejs") %>
    <main>
        <br/>
        <br/>
        <p>Ceva</p>
    </main>
    <%- include("../fragmente/footer.ejs") %>

</body>
</html>     