<footer>
    <p id="banner"><span id="message-cookies">Movie Index te roaga sa folosesti cookiiuri pentru a imbunatati performanta<button id="ok_cookies">Da, accept</button></span></p>  
    <a href="#" class="to-top">
        <div class="paranteza">(</div>
        <div class="paranteza">)</div>
    </a>
    <div class="hide">Link Top</div>
    <br/>
    <br/>
    <br/>
    <address>
        <a href="tel:+407123456789">Telefon</a>
        <br/>
        <a href="https://www.google.com/maps/place/Facultatea+de+Matematic%C4%83+%C8%99i+Informatic%C4%83/@44.4355355,26.097398,17z/data=!3m1!4b1!4m5!3m4!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867">Adresa</a>
        <br/>
        <a href="mailto:cineva@gmail.com">Mail</a>
        <br/>
        <a href="https://wa.me/+407123456789">Whatsapp</a>
    </address>
    <br/>
    <small>&copy;Wikipedia</small>
    <small>&copy;Entertainment Weekly</small>
    <time datetime="2022-10-10"></time>
</footer>