#hamburger{
    display:block;
    height:var(--inaltime-meniu);

}
#hamburger img{
    height:100%;
    width:auto;
}

ul.meniu{
    display: none;
}

#ch-menu:checked~ul.meniu{
    display: block;
}
ul.meniu li{
    width: 605px;
}
ul.meniu>li{
    height: var(--inaltime-meniu);
    overflow:hidden;
    line-height: var(--inaltime-meniu);
    vertical-align: middle;
    border: 605px;
    width: 605px;
    text-align: center;
}
ul.meniu ul li{
    height: var(--inaltime-meniu);
   
    border: 605px;
    width: 605px;
}
.seriale{
    top: 10px;
}